body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px 0 10px 0;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 5px 20px;
}