body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Paragraphs */
.para {
  font-size: 28px;
  font-weight: 800;
  color: hsl(0, 0%, 0%);
}

.para.small-para {
  font-size: 14px;
  font-weight: 800;
}

/* Buttons */

.button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

#confirm-button {
  background: green;
  color: white;
  font-weight: bold;
} 

/* Text */

.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

.text .child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}
